body {
  background-color: #e2e2e2;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.dark {
  background-color: #333;
  color: #fff;
}

h1.heading {
  font-family: myFirstFont;
  src: url(../font/Rockwell-Font/ROCK.TTF);
}

small {
  color: #a3a3a3;
}

.before-head {
  position: relative;
  z-index: 30;
  padding: 30px;
  background-color: #2121e1;
  margin: 0 0 30px 0;
  color: #fff;
  -webkit-box-shadow: 0px 0px 5px #2121e1;
          box-shadow: 0px 0px 5px #2121e1;
}

.before-head .col {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

img {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

header {
  position: relative;
  width: 100%;
  z-index: 30;
  height: 70vh;
  background-size: cover;
  z-index: 2;
}

header .active {
  -webkit-animation: show1 1s ease-in forwards;
          animation: show1 1s ease-in forwards;
}

header .row {
  margin: 20px 0 !important;
}

header .col-md-5:nth-child(2) {
  z-index: 999;
  color: #fff;
  background-color: #fff;
  height: 450px !important;
  max-width: 400px !important;
  top: 10%;
  right: 10%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px #1d1d3c2e;
          box-shadow: 0px 0px 10px #1d1d3c2e;
  padding: 0px;
  color: #333;
}

header .col-md-5:nth-child(2) img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -50px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

header .col-md-5:nth-child(2) ul {
  position: absolute;
  bottom: 0;
  left: 20%;
}

header .col-md-5:nth-child(2) ul li {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2121e1), to(#1D1D3C));
  background-image: linear-gradient(to right, #2121e1, #1D1D3C);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 37px;
  font-size: 20px;
  cursor: pointer;
}

header .col-md-5:nth-child(2) small {
  padding: 20px;
  color: #919191;
}

header .col-md-5:nth-child(2) h2 {
  text-transform: capitalize;
  color: #1D1D3C;
  margin: 10px 0px;
}

header .col-md-5:nth-child(2) .head {
  height: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2121e1), to(#1D1D3C));
  background-image: linear-gradient(to right, #2121e1, #1D1D3C);
}

header .col-md-5 .data {
  text-transform: capitalize;
}

header .col-md-5 .data span {
  color: #050563;
}

header .col-md-5 .data h4 {
  font-weight: 400;
  font-size: 19px;
  margin: 18px 0 !important;
}

header .col-md-5 .data button {
  background-color: #050563;
  color: #e2e2e2;
  margin: 10px 0;
}

header .content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: azure;
  z-index: 100;
}

header .content h1 {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

header .content h5 {
  color: #e2e2e2;
  font-size: 1.6rem;
  text-transform: uppercase;
}

header .content span {
  margin-top: 20px;
  background-color: #F7B231;
}

header .content img {
  width: 200px;
}

header h4 {
  margin: 20px 0 !important;
}

img {
  width: 100%;
  border-radius: 6px;
  margin: 10px 0;
  -webkit-box-shadow: 0px 0px 10px #0505634e;
          box-shadow: 0px 0px 10px #0505634e;
}

.row {
  margin: 30px 0;
}

.left {
  position: relative;
  border-left: 3px solid #1D1D3C;
  padding-left: 20px;
  border-radius: 3px;
  color: #06064a;
  text-transform: capitalize;
  text-shadow: #05056333;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.brand {
  color: #050563;
}

.nav-link {
  color: #333;
  text-transform: capitalize;
  position: relative;
  padding: 10px 0;
  margin: 10px;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #050563;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-link:hover::before {
  width: 60%;
}

.nav-link.active::before {
  width: 60%;
  color: #06064a;
}

.dot {
  background-color: #050563;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  right: -5%;
  bottom: 10%;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px rgba(21, 27, 201, 0.29);
          box-shadow: 0px 0px 5px rgba(21, 27, 201, 0.29);
}

.dot2 {
  background-color: #c6c6c6;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  left: -10%;
  top: 10%;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.29);
          box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.29);
}

section.section-1 {
  position: relative;
  z-index: 20;
}

section.section-1 h5 {
  text-transform: capitalize;
  color: #050563;
}

section.section-1 button:hover {
  color: #ffff;
}

section.section-1 button {
  background-color: #050563;
  color: #fff;
}

.imgs .row .col-md-4 {
  overflow: hidden;
  border-radius: 5px;
}

.imgs .row .col-md-4 img {
  -webkit-transition: .5s;
  transition: .5s;
}

.imgs .row .col-md-4 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .footer-top .footer-links {
  margin-bottom: 30px;
}

footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #721846;
  font-size: 18px;
  line-height: 1;
}

footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

footer .footer-top .footer-links ul a {
  color: #777777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #721846;
}

footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #721846;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .social-links a:hover {
  background: #721846;
  color: #b43030;
  text-decoration: none;
}

footer {
  color: #ffffff;
  font-size: 14px;
  background-color: black;
}

footer .footer-top {
  padding: 60px 0 30px 0;
  -webkit-box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
          box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

footer .footer-top .footer-contact h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  font-size: 20px;
  text-transform: uppercase;
}

footer.dark {
  background-color: #fff !important;
}

footer.dark h4 {
  color: #010111;
}

footer.dark .col-lg-3 {
  color: #161616;
}

footer.dark .fas {
  background-color: #010111;
  color: #fff;
}

footer .fas {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #333;
  line-height: 40px;
  text-align: center;
  margin: 10px;
}

img {
  width: 100%;
}
/*# sourceMappingURL=mainProfile.css.map */