body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

body.dark{
 background-color: #333;
 color: #fff;
}


section.section-1{
 margin: 60px 0;
}
section.section-1.dark .card{
 background-color: transparent !important;
 color: #fff;
}

section.section-1.dark .caption{
 color: #fff;
}

#chartdiv {
  width: 100%;
  height: 80vh;
}



/* start seciton 1 */
section.section-1{
 margin-top: 80px;
}
section.section-1 .color{
 width: 25px;
 height: 25px;
 border-radius: 5px;
 margin:0 20px  ;

}
.caption{
 border-radius: 3px !important;
 color: #fff;
}
.caption h5{
 background-color: #d1d1d1;
 border-radius: 50%;
 font-size: 20px;
 display: inline-block;
 padding: 15px;
 margin: 15px ;
 color: rgb(16, 16, 16);
}

section.section-1 .one .caption{
 background-color: #6794dc;
 
}

section.section-1 .tow .caption{
 background-color: #67b7dc;
}


section.section-1 .three .caption{
 background-color: #6771dc;
}

section.section-1 .four .caption{
 background-color: #8067dc;
}
canvas:nth-child(2){
 display: none;
}







footer .footer-top .footer-links {
  margin-bottom: 30px;
}

footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #721846;
  font-size: 18px;
  line-height: 1;
}

footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

footer .footer-top .footer-links ul a {
  color: #777777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #721846;
}

footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #721846;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .social-links a:hover {
  background: #721846;
  color: #b43030;
  text-decoration: none;
}

footer {
  color: #ffffff;
  font-size: 14px;
  background-color: black;
}

footer .footer-top {
  padding: 60px 0 30px 0;
  -webkit-box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
          box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

footer .footer-top .footer-contact h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  font-size: 20px;
  text-transform: uppercase;
}

footer.dark {
  background-color: #fff !important;
}

footer.dark h4 {
  color: #010111;
}

footer.dark .col-lg-3 {
  color: #161616;
}

footer.dark .fas {
  background-color: #010111;
  color: #fff;
}

footer .fas {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #333;
  line-height: 40px;
  text-align: center;
  margin: 10px;
}

img {
  width: 100%;
}
